@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&family=Fasthand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    
    background-image: url(img/e9c612d3-57e2-4dc1-b7e6-f6cfb9156df5.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title{
    display: grid;
    place-items: center;
    height: 100vh;
    font-size: 6vw;
padding-bottom: 50vh;
font-family: 'Fasthand', 'cursive';
 color:red
}

.skull{
    font-size: 4rem;  
}

.flex{
display: flex;
position: absolute;
bottom: 10vh;
right:7vw;
 
}
.flex>input{
    padding:0.5rem

}
button{
    font-family: 'Fasthand', 'cursive';
    width:25%;
}

.flex1{
    display: flex;
}

.hide{
    display: none;
}
.sc{
    color: black;
    font-size: 5vw;
}

.flex-op{
    display: flex;
    justify-content: center;
    font-family: 'Fasthand', 'cursive';
    margin: auto 8vw;
    font-size: 2vw;
    position: absolute;
    gap:6vw;
    top:18vw;
    color: white
}