*{
margin: 0;
padding: 0;
box-sizing: border-box}

.container{
display: grid;
place-items: center;
height: 100vh;

}

.box{
    background-color: rgb(255, 255, 255);
    width:450px;
    height: 850px;
    margin-top: 5vw;
}

h1{
    font-size: 4vw;
}

.balance{
    display: flex;
    flex-direction: column;
    gap:1vw
}

body{
    background-color: antiquewhite;
}

.transaction_container{
    margin-top: 2vw;
}

.transaction .left{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding: 7px;

}
.transactions{
    margin-top: 8px;
}

.transaction{
  
margin-top: 20px;
background-color: rgb(0, 100, 128);
color: black;
display: flex;
}

.status{
   
   min-height: 40px;
    min-width: 40px;
    display: grid;
    place-items: center;
}

.credit{
    background-color: green
}

.debit{
    background-color: red
}

.transaction_form{
   
    background-color: rgb(187, 102, 102);
    bottom:0;
    left:35vw;
    width: 450px;
    position: fixed;
}

.transaction_form h3{
font-size: 40px;
}

.form_c{
display: flex;
flex-direction: column;
}

.form_c:first-child{
    flex: 2;
}

.inputs{
    display: flex;
    gap:10px
}

form input{
    padding: 10px 15px;
}

.btn_container{
    display: flex;
    height: 4vw;
}

.btn_container button{
    display: flex;
    width: 100%;
     height: 5vh;
     font-size: 3vh;
}

#earntbtn{
    background-color: green;
}

#expbtn{
    background-color: red;
}

@media (max-width:786px){
    .box {
        background-color: rgb(255, 255, 255);
        width: 62vw;
        height: 80vh;
        margin-top: 5vw;
        margin-right: 27vw;
    }
    .transaction_form {
        background-color: rgb(187, 102, 102);
        bottom: 78px;
        left: 6vw;
        width: 61vw;
        position: fixed;
    }
form input {
    padding: 5px 15px;
    width: 29vw;
}
.btn_container{
     
    height: 11vw;
}
}

.bf{
    display: flex;
    flex-direction: column;
}